<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>GuestbookServlet</display-name>


	<servlet>
		<servlet-name>GuestbookWriteServlet</servlet-name>
		<servlet-class>guestbook.action.GuestbookWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestbookWriteServlet</servlet-name>
		<url-pattern>/GuestbookWriteServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GuestbookListServlet</servlet-name>
		<servlet-class>guestbook.action.GuestbookListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestbookListServlet</servlet-name>
		<url-pattern>/GuestbookListServlet</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>